@import "tailwindcss";

:root {
  --helvetica: helvetica, 'Arial', sans-serif;
}

#root {
  font-family: var(--helvetica);
  /*! comment this descructive styling */
  /* width: 1126px; */
  /* width: 100%;
  margin: 0 auto; */
  /* text-align: center; */
  min-height: 100svh;
}

body {
  margin: 0;
}